@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.main-container {
  font-family: 'Rubik', sans-serif;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.status-tracker:checked + label {
	text-decoration: line-through;
	color: #656565;
  cursor: cell;
}

.text-center {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}

.text-danger {
  color:#ef2525;
}

input {
  margin-bottom: 12px;
}

.btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  color: #39739d;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 5px;
  outline: none;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(35, 161, 251, 0.15);
}

.btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.btn-action {
  color: white;
  background-color: #337AB7;
  box-sizing: border-box;
  border: none;
  margin: 5px 5px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-action:hover {
  box-shadow: 0px 0px 5px #223c50;
}

.btn-action:active {
  background-color: #e1ecf4;
  color: black;
  border: 1px solid #656565;
}

.btn-danger {
  background-color: #ef2525;
  color: white;
}

.btn-exit {
  left: 10px;
  top: 10px;
}

.w-10 {
  width: 10em;
}

/* Styling todo-input component */
.todo-input {
  border: 1px solid #a0c7e4;
  display: block;
  padding: 10px 10px;
  width: 40%;
}

/* Styling todo-list box */
.todo-list {
  box-shadow: 0px 0px 21px 2px rgba(98,129,255,0.82);
  overflow-y: scroll;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 55vh;
  width: 80vh;
}    

.todo-list::-webkit-scrollbar {
  width: 10px;
  background-color: #a0c7e4;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: #223c50;
}

.todo-list::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #8dbee9;
}

/* Styling todo-items */
.todo-list .todo-item {
  display: flex;
  position: relative;
  border-left: 4px solid #337AB7;
  padding: 3px;
  height: 35px;
  margin: 5px 10px;
  box-shadow: 2px 2px 2px 2px #656565;
}

.todo-update-input {
  flex: 2;
  height: 100%;
  border: 1px solid #dadada;
  box-sizing: border-box;
}

.todo-data {
  width: 88%;
}

.change-status-bar {
  display: flex;
  margin: 10px;
}